html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.home-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #eee;
}

.hero-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 2em;
    /* height: ; */
    background: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 50%;
    justify-items: center;
    margin-bottom: 100px;
}


.create-btn{
    padding: 10px;
    border: none;
    background: rgb(60, 112, 209);
    color: white;
    border-radius: 10px;
    /* font-weight: bold; */
    font-size: 1.1rem;
}

.home-blogs-intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: space-around; */
}

.home-blogs-intro h1{
    padding: 10px;
}

.create-btn:hover{
    background-color: rgb(30, 90, 201);
}

.item{
    background-color: green;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}